{
  "schema_version": "1",
  "input_lights": [
    "testdata/LDN43_T2素材_flying_dutchman/lights/LDN43_LRGBH_flying_dutchman-20250504@034648-1200S-Green.fts"
  ],
  "master_bias": "testdata/T2 calibration files/masterBias_BIN-1_4096x4096.xisf",
  "master_dark": "testdata/T2 calibration files/masterDark_BIN-1_4096x4096_EXPOSURE-1200.00s.xisf",
  "master_flat": "testdata/T2 calibration files/masterFlat_BIN-1_4096x4096_FILTER-Green_mono.xisf",
  "filter_passband": "Green",
  "wcs": {
    "crpix1": 2048,
    "crpix2": 2048,
    "crval1": 248.608671942,
    "crval2": -15.7621645898,
    "cd11": 0.00000329465039006,
    "cd12": 0.000268539832316,
    "cd21": -0.000268566894296,
    "cd22": 0.00000329431840661
  },
  "drizzle": {
    "nside": 512,
    "nested": 1,
    "pixfrac": 0.8,
    "precision_mode": 1
  },
  "output_dir": "__OUT__"
}
